.card-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.card {
    height: 100%;
}

figcaption {
    position: relative;
    z-index: 1;
}

.card-text, .buttons {
    position: absolute;
    width: 100%;
    background: #23232392;
    background: var(--primary-light-alpha);
    backdrop-filter: blur(6px);
    color: #fff;
    padding: .7rem;
    z-index: 2;
}

.card-text{
    bottom: 0;
}

.buttons {
    position: absolute;
    top:0;
    display: flex;
    justify-content: space-between;
}

.stars {
    display: flex;
    gap: .4rem;
}

.star {
    width: 20px;
    height: 20px;
}

.read-more-btn {
    color: #fff;
    cursor: pointer;
}

.details {
    background: linear-gradient(var(--primary-dark), var(--primary-light));
    color: #fff;
    padding: .7rem;
}

.details p {
    margin-bottom: 2rem;
}

.details p.title {
    margin-bottom: 1rem;
}

.btn {
    padding: .7rem 3rem;
    background: #f3d2f8;
    opacity: .9;
    backdrop-filter: blur(10px);
    border-radius: var(--border-radius-lg);
    color: var(--primary-dark);
    font-weight: 600;
    cursor: pointer;
    translate: 0 0;
    transition: var(--transition);
}

.btn:hover {
    translate: 0 -.4rem;
    filter: hue-rotate(-20deg);
}

.btn-per-night {
    position: absolute;
    top: 20%;
    right: 5%;
}

@media (min-width: 430px){
    .card-text, .buttons, .details {
        padding: 1.2rem;
    }
}
@media (min-width: 660px){
    .card-text, .buttons, .details {
        padding: 1.5rem;
    }
}