header {
    width: 100%;
}

nav {
    width: 100%;
    height: 4rem;
    padding-inline: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient( var(--primary-light), var(--primary-dark));
    transition: var(--transition);
}

nav:hover {
    filter: hue-rotate(-10deg);
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

ul li a, .a-btn, .logo-p{
    color: #ffffffb7;
    cursor: pointer;
    transition: var(--transition);
}


ul li:hover a, .a-btn:hover, .logo-p:hover {
    color: #fff;
}

.logo {
    font-size: 1.4rem;
}