@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700&display=swap');

:root {
    --transition: all .3s ease-in-out;
    --border-radius: .6rem;
    --border-radius-lg: 2rem;
    --primary-light: #5e1679d5;
    --primary-light-alpha: #5f167950;
    --primary-dark: #4f2d82d5;
    --primary-dark-alpha: #4f2d8269;
}

*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
}

img {
    width: 100%;
    display: block;
}


h1 {
    text-align: center;
    margin-bottom: 3rem;
}

h3 {
    text-align: center;
    margin-bottom: 1rem;
}

p {
    font-weight: 600;
}

body {
    width: 100%;
    min-height: 100vh;
    color: var(--primary-dark);
}

.App {
    width: 100%;
    min-height: 100vh;
}

section {
    padding-block: 3rem 2rem;
}

.container {
    width: 100%;
    padding-inline: 5%;
    max-width: 1200px;
    margin-inline: auto;
}

